/* body{
    width: 100vh;
    background-image: url('https://res.cloudinary.com/cusi/image/upload/v1657163478/BAE_app/fonnndo_BAE_y29yiy.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
} */
/* https://res.cloudinary.com/cusi/image/upload/v1657163842/BAE_app/fonnndo_oscuro_BAE_aui6ga.jpg */
